.custom-btn {
  background: #ffffff;
  color: #2E2A3A;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 10px 24px;
  margin-top: 10px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.7s, color 1s;
}

.custom-btn:hover {
  background: #000000;
  color: #ffffff;
}

body {
  background: #f6f6f6;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  flex-wrap: wrap;         
  gap: 24px;               
  padding: 32px;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

.post-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  padding: 22px 28px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  min-width: 220px;
  max-width: 1500px;  
  flex: 1 1 300px;   
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s;
}


.post-title {
  font-size: 1.5rem;
  color: #2E2A3A;
  margin: 0 0 8px 0;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.12em;
}

.post-body {
  color: #4E4767;
  font-size: 1.07rem;
  line-height: 1.5;
  margin: 0;
}